* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img,
svg {
  vertical-align: middle;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  background-color: transparent;
  border: 0;
}
html {
  scroll-behavior: smooth;
}
:root {
  --font-family: 'Reza Zulmi Alfaizi Sans', sans-serif;
  --second-family: 'Hanson', sans-serif;
  --third-family: 'Kenyan Coffee', sans-serif;
  --font3: 'Evolventa', sans-serif;
  --font4: 'Gotham', sans-serif;
  --font5: 'SF Pro', sans-serif;
  --font6: 'Inter', sans-serif;
  --font7: 'Proxima Nova', sans-serif;
}
@font-face {
  font-family: 'Hanson';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('~assets/fonts/Hanson-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Reza Zulmi Alfaizi Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~assets/fonts/RezaZulmiSans.ttf') format('truetype');
}

@font-face {
  font-family: 'Druk Text Wide Cyr';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('~assets/fonts/DrukCyr-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Kenyan Coffee';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~assets/fonts/kenyan coffee rg.ttf') format('truetype');
}

/* font-family: 'Druk Text Wide Cyr'; */
button.tgme_widget_login_button,
.btn.tgme_widget_login_button,
.tgme_widget_login_button {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  box-sizing: border-box !important;
  gap: 10px !important;
  width: 327px !important;
  height: 52px !important;
  border: 2px solid #f64e2a !important;
  box-shadow: 0px 0px 10px 2px rgba(246, 78, 42, 0.25) !important;
  border-radius: 8px !important;
  cursor: pointer !important;
  background-color: #0a090f !important;
}

.border-gradient {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid transparent;
  background-image: linear-gradient(#121119, #121119),
    linear-gradient(to bottom right, #f64e2a 0%, #232130 25%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.border-gradient .left-blur {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background: #eb4b2a;
  filter: blur(75px);
  position: absolute;
  top: -10px;
  left: -10px;
  z-index: 0;
}
.nuxt-link-exact-active {
  display: block !important;
  text-align: left !important;
  line-height: normal !important;
  text-transform: none !important;
}
