* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img,
svg {
  vertical-align: middle;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  background-color: transparent;
  border: 0;
}
html {
  scroll-behavior: smooth;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
:root {
  --font-family: 'Reza Zulmi Alfaizi Sans', sans-serif;
  --second-family: 'Hanson', sans-serif;
  --third-family: 'Kenyan Coffee', sans-serif;
  --font3: 'Evolventa', sans-serif;
  --font4: 'Gotham', sans-serif;
  --font5: 'SF Pro', sans-serif;
  --font6: 'Inter', sans-serif;
  --font7: 'Proxima Nova', sans-serif;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  src: url('~assets/fonts/Roboto/Roboto-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto';
  src: url('~assets/fonts/Roboto/Roboto-Bold.eot');
  src: local('Roboto Bold'), local('Roboto-Bold'),
    url('~assets/fonts/Roboto/Roboto-Bold.eot?#iefix')
      format('embedded-opentype'),
    url('~assets/fonts/Roboto/Roboto-Bold.woff') format('woff'),
    url('~assets/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('~assets/fonts/Roboto/Roboto-Regular.eot');
  src: local('Roboto'), local('Roboto-Regular'),
    url('~assets/fonts/Roboto/Roboto-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('~assets/fonts/Roboto/Roboto-Regular.woff') format('woff'),
    url('~assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('~assets/fonts/Roboto/Roboto-Medium.eot');
  src: local('Roboto Medium'), local('Roboto-Medium'),
    url('~assets/fonts/Roboto/Roboto-Medium.eot?#iefix')
      format('embedded-opentype'),
    url('~assets/fonts/Roboto/Roboto-Medium.woff') format('woff'),
    url('~assets/fonts/Roboto/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('~assets/fonts/Inter/Inter_24pt-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~assets/fonts/Inter/Inter_28pt-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('~assets/fonts/Inter/Inter_28pt-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('~assets/fonts/Inter/Inter_28pt-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Hector';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~assets/fonts/hector-regular.otf') format('opentype');
}
@font-face {
  font-family: 'Hanson';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('~assets/fonts/Hanson-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('~assets/fonts/gotham_bold.otf') format('opentype');
}
@font-face {
  font-family: 'Reza Zulmi Alfaizi Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~assets/fonts/RezaZulmiSans.ttf') format('truetype');
}
@font-face {
  font-family: 'Druk Text Wide Cyr';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('~assets/fonts/DrukCyr-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Kenyan Coffee';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~assets/fonts/kenyan coffee rg.ttf') format('truetype');
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~assets/fonts/Nunito-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('~assets/fonts/Nunito-SemiBold.ttf') format('truetype');
}

/* font-family: 'Druk Text Wide Cyr'; */
button.tgme_widget_login_button,
.btn.tgme_widget_login_button,
.tgme_widget_login_button {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  box-sizing: border-box !important;
  gap: 10px !important;
  width: 327px !important;
  height: 52px !important;
  border: 2px solid #f64e2a !important;
  box-shadow: 0px 0px 10px 2px rgba(246, 78, 42, 0.25) !important;
  border-radius: 8px !important;
  cursor: pointer !important;
  background-color: #0a090f !important;
}

.border-gradient {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid transparent;
  background-image: linear-gradient(#121119, #121119),
    linear-gradient(to bottom right, #f64e2a 0%, #232130 25%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.border-gradient .left-blur {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background: #eb4b2a;
  filter: blur(75px);
  position: absolute;
  top: -10px;
  left: -10px;
  z-index: 0;
}
.nuxt-link-exact-active {
  text-align: left !important;
  line-height: normal !important;
  text-transform: none !important;
}
.main-container {
  padding: 0 16px;
  max-width: 375px;
  margin: 0 auto;
}
